<footer class="text-center text-muted position-absolute">
  <section>
    <div class="border-top pt-3">
      <a href="" class="me-4 text-reset">
        <i class="fa-brands fa-square-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
    <div class="text-center p-3"><p>Copyright © Hack Academy 2022</p></div>
  </section>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://kit.fontawesome.com/41eef7fcd8.js" crossorigin="anonymous"></script>
