<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Hack the blog</a>
    <div class="" id="">
      <button type="button" class="btn btn-primary">
        <a class="text-decoration-none" style="color: white" href="/admin">Admin</a>
      </button>
    </div>
  </div>
</nav>
